html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin  : 0;
    padding : 0;
}
section, article, nav, header, footer { display : block; }
address, caption, cite, code, dfn, th, var,i,em {
    font-style  : normal;
    font-weight : normal;
}
em, i { font-weight : normal; }
table         { border-collapse : collapse; }
fieldset, img { border : 0; }
ul, ol        { list-style : none; }
select, input { vertical-align : middle; outline : none; }
h1, h2, h3, h4, h5, strong, em { font-weight : normal; }
select, input, textarea {
    font-size   : 12px;
    margin      : 0;
    padding     : 0;
    outline     : none;
    font-family : arial, sans-serif;
}
textarea {
    resize   : none;
    overflow : auto;
    word-break : break-all;
    word-wrap  : break-word;
}
body {
    color : #000;
    font  : 12px/20px arial, sans-serif;
}

.clearfix {
    *zoom : 1;
}
.clearfix:after {
    content : ' ';
    display : block;
    clear   : both;
    height  : 0;
}